body {
    padding: 2.7rem;
    background-color: #000500;
    color: lime;
    font-family: 'VT323', monospace;
    text-align: center;
  }

  ul, li{
    list-style-type: none;
    display: inline;
}

li{
    padding-left:.5em;
    padding-right:.5em;
}

#screen{
    align-content: center;
    background-color: #001800;
    height:40em;
    width:80%;
    border: lime solid 1px;
    border-radius: 5px;
    margin-left:auto;
    margin-right:auto;
}

#notifs{
    float:left;
    background-color: #001800;
    height:35em;
    width:25%;
    border: lime solid 1px;
    border-radius: 5px;
    margin-left:2em;
    margin-top:2em;
    padding:5px;
}

#event{
    background-color:#728e72;
    border-radius: 5px;
    width:100%;
    height:5em;
    margin:auto;
    float:left;
    margin-top: 5px;
    box-shadow: 0 4px 8px 0 #000500, 0 6px 20px 0 #000500;
}

p{
    color:#000500;
}

button{
    font-family: 'VT323', monospace;
    text-decoration: none;
    color:lime;
    background-color: #000500;
    outline:none;
    border:none;
}

button:active{
    font-family: 'VT323', monospace;
    text-decoration: none;
    color:#003200;
}

.iconBox{
    float: left;
    margin-bottom:0px;
}

#jadenSmith{
    margin-top: 5em;
    margin-left: 5em;
    height:4em;
    width:4em;
}

#jadenSmith:hover{
    height:4em;
    width:4em;
    box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}

.iconTxt{
    color:lime;
    margin-left: 4.3em;
}










